<html>
<head>
  <title>{{ title|default('Meme Generator') }}</title>
</head>
<body>
  {% block content '' %}
</body>
<footer>
  <p><small>Proudly powered by the NoCSS framework</small></p>
</footer>
</html>
